@import 'variables.scss';
@import 'fonts.scss';

body{
  font: 100% $font-stack;
  background-color: #000;
  color: $color;
  margin-left: 20%;
  margin-top: 1em;
  width: 60%;
}
.background-image{
  background-image: url(/media/uploads/league/bg.jpg) !important;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  filter: grayscale(100%) opacity(70%);
  height: 100%;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  text-decoration: none;
  color: white;
}

.body-content{
  margin-top: 2em;
}
p a::before{
  content: "» "
}
h1{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #00aeef;
}
label{
  width: 20%;
  display: inline-block;
}
h1 small{ // mostly for article overview
  font-size: small !important;
  color: white;
  font: 100% Electrolize, sans-serif !important;
  font-size: 100%;
  font-size: 10pt !important;
}
.errorlist{
  padding: 1em;
  padding-left: 1em;
  list-style: none;
  font-weight: bold;
}
@import 'navbar.scss';
@import 'seasons.scss'; // seasons-page
@import 'results.scss'; // results-page
@import 'race.scss'; // race result-page
@import 'sociallinks.scss'; 
@import 'mobile.scss'; 
@import 'startpage.scss'; 
@import 'timeline.scss'; 
@import 'legal.scss';
@import 'signup.scss';