{
  logo: 'pathtothelogo',
  name: 'name of the league',
  "theme": "basement",
  "dateFormat": "%Y-%m-%d %H:%M:%S",
  "nextRaceFormat": "d M Y",
  "articleFormat": "d.m.Y",
  "pitlane": "forumlinkornull",
  "url": "homepage",
  "established": "yearofleaguestart",
  "livetiming": "link to the livetiming or null",
  "privacy": {
    "imprint": "",
    "gdpr": ""
  },
  "staticSignup": false,
  "embettyUrl": "http://localhost:3000/",
  "database": {
    "ENGINE": "django.db.backends.mysql",
    "NAME": "",
    "USER": "",
    "PASSWORD": "",
    "HOST": "localhost",
    "PORT": "3306"
  },
  "socialButtons": {
    "fontawesomeclass": "linkcontent"
  },
  "timezone": "Europe/Berlin",
  "bannerConfig":[{
    "type": "image",
    "path":  "/frontend/bg.jpg",
    "position": [
      0,0
    ],
    "size": null,
    "filter": "LA"
  }]
}