{
  maintenance: false,
  logo: 'pathtothelogo',
  name: 'name of the league',
  "description": "description",
  "theme": "basement",
  "templateDateTimeFormat": "dS M Y H:i:s",
  "dateFormat": "%Y-%m-%d %H:%M:%S",
  "nextRaceFormat": "d M Y",
  "articleFormat": "d.m.Y",
  "pitlane": "forumlinkornull",
  "url": "homepage",
  "established": "yearofleaguestart",
  "livetiming": "link to the livetiming or null",
  "privacy": {
    "imprint": "",
    "gdpr": ""
  },
  "features": {
    "servertime": false
  },
  "dotd": true,
  "staticSignup": false,
  "embettyUrl": "http://localhost:3000/",
  "secretKey": "secretkey",
  "debug": false,
  "database": {
    "ENGINE": "django.db.backends.mysql",
    "NAME": "",
    "USER": "",
    "PASSWORD": "",
    "HOST": "localhost",
    "PORT": "3306"
  },
  "socialButtons": {
    "fontawesomeclass": "linkcontent"
  },
  "timezone": "Europe/Berlin",
  "robots": {
    "disallow": [
      "/imprint/",
      "/privacy/"
    ]
  },
  "ruleset": {
    "points": {
        "1": 25,
        "2": 18,
        "3": 15,
        "4": 12,
        "5": 10,
        "6": 8,
        "7": 6,
        "8": 4,
        "9": 2,
        "10": 1
    },
    "scoreLimit": 70
  }
}