.article {
  position: relative;
  margin-bottom: 1em;
}
.article-image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 200px;
}
.article-title:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.article-title {
  display: block;
  position: absolute;
  width: 100%;
  color: #fff;
  left: 0;
  bottom: 0;
  padding: 1em;
  font-weight: 700;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background:rgba(0, 0, 0, 0.7);
}
.article-date{
  background: #323737;
  width: 6.5em;
  text-align: center;
  margin-right: 1em;
  border-radius:0px;
  border-top: 1px solid #00aeef;
  border-left: 1px solid #00aeef;
}