.article-image{
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: top;
}
.article-title{
  position: relative;
  top: -3em;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 3em;
}