.season{
  display: inline;
}
.season-header{
  display: inline;
  cursor: pointer;
}
.season-header-container:after{
  content: " • ";
  font-size: 20pt;
}
.season-header-container:last-of-type:after{
  content: ''
}
.season-infos{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.medal-1{
  border-color: gold transparent transparent transparent !important;
  color: black;
}
.medal-2{
  border-color: silver transparent transparent transparent !important;
  color: black;
}
.medal-3{
  border-color: #CD7F32 transparent transparent transparent !important;
  color: white;
}
.medal-dns{
  border-color: #5F8F0E transparent transparent transparent !important;
}
.medal-dnf{
  border-color: #870e0e transparent transparent transparent !important;
}
.medal-dsq{
  border-color: black transparent transparent transparent !important;
}
.leaflet-popup{
  width: 220px;
}
.leaflet-popup-content-wrapper{
  background: #323737 !important;
  color: white !important;
  border-radius: 0px !important;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00aeef;
}
.leaflet-popup-tip{
  background: #323737 !important;
}
.leaflet-control-zoom-in, .leaflet-control-zoom-out{
  background: black !important;
}