body{
  font-family: Electrolize, sans-serif;;
  background-color: #000;
  color: white;
}
//main content
.top-margin{
  margin-top: 1em;
}
h1{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #00aeef;
}
// News page rules
.pagination {
  text-align: center;
}
.fa-rss{
  color:orange;
}
.fa-twitter, .fa-twitter-square{
  color: #1da1f2;
}
.fa-facebook-f, .fa-facebook-square{
  color:#3b5998;
}
.fa-flipboard{
  color: #c00
}
.fa-get-pocket{
  color: #ef4056
}
.fa-reddit-square{
  color: #ff4500
}
.fa-pinterest{
  color: #bd081c
}
.fa-youtube{
  color: #ff0000;
}
.share-links{
  display: inline;
  margin-left: 0.5em;
  border-left: 1px solid white;
  vertical-align: middle;
  padding-left: 0.5em;
}
.share-links a i {
  margin-right: 0.5em;
  font-size: 15pt;
}
.news-article-content{
  width: 84%;
}
.news-article-body{
  line-height: 2;
}
.background-image{
  background-image: url(/media/uploads/league/bg.jpg) !important;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  filter: grayscale(100%) opacity(70%);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
label {
  width: 20%;
  display: inline-block;
}
.remarks{
  margin-bottom: 1em;
}
.centered{
  text-align: center;
}
@import 'reset.scss';
@import 'fonts.scss';
@import 'links.scss';
@import 'navigation.scss';
@import 'timeline.scss';
@import 'articles.scss';
@import 'seasons.scss';
@import 'standings.scss';
@import 'legal.scss';