.video-teaser{
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.6063000000000001 0.3576 0.0361 0 0 0.1063 0.8575999999999999 0.0361 0 0 0.1063 0.3576 0.5361 0 0 0 0 0 1 0" /></filter></svg>#filter');
  -webkit-filter: grayscale(50%);

  opacity: 0.5;
  position: fixed;
  width: 60%;
}
.news-flash{
  position: fixed;
  background: rgba(0, 0, 0, 0.70196);
  top: 70%;
  width: 60%;
}
.news-flash-content{
  padding: 2em;
  padding-left: 4em;
  padding-right: 4em;
}
.news-article-content *{
  line-height: 1.5;
}
.eu-cookies{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #ff6c00;
  color:white;
  z-index: 99999;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.legal-links{
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 99999;
}
.legal-links a:not(:last-child){
  padding-right: 0.5em;
}