.video-teaser{
  filter: contrast(80%) saturate(40%) grayscale(0%);
  position: fixed;
  width: 60%;
}
.news-flash{
  position: fixed;
  background: rgba(0, 0, 0, 0.70196);
  top: 70%;
  width: 60%;
}
.news-flash-content{
  padding: 2em;
  padding-left: 4em;
  padding-right: 4em;
}
.news-article-content *{
  line-height: 1.5;
}
.eu-cookies{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #ff6c00;
  color:white;
  z-index: 99999;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.legal-links{
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 99999;
}
.legal-links a:not(:last-child){
  padding-right: 0.5em;
}
label{
  width: 20%;
  display: inline-block;
}