.navigation .logo{
  width: 100px;
  float: left;
  margin-right: 1em;
  filter: brightness(100%) drop-shadow(0px 0px 5px white);
}
.navigation .navigation-button{
  background: $navigation-button-backgroundcolor;
  display: inline-block;
  padding: 1em;
  color: $navigation-button-color;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: -4px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1em;
}

.navigation .navigation-button:hover{
  background-color: lighten($navigation-button-backgroundcolor,30%);
  background-color: darken($navigation-button-color,30%);
}
.navigation .navigation-button-highlight{
  background-color: $highlight-button;
  color: white;
  font-weight: bold;
}

.running-comp{
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
}
.comp-name{
  display: block;
}
.next-race{
  display: block;
}