.race-result-row{
  width: 100%;
  color: $result-color;
  height: 4em;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #00aeef;
  margin-bottom: 1.5em;
}
.inline{
  width: 20%;
  display: inline-block;
  padding-right: 1em;
}
.centered{
  text-align: center;
  position: relative;
  top: -1em;
}
.medium{
  width: 7%;
}
.small{
  width: 4%;
}
.race-result-driver{
  margin-left: 60px;
  padding: 0.5em;
}
.race-result-driver-names{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.race-result-driver-names span:first-child{
  padding-right: 4px;
}
.race-result-driver-names span:last-child{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.08em;
}
.race-result-driver-team{
  font-size: small;
  padding-top: 0.5em;
  letter-spacing: 0.08em;
}
.race-result-team-logo{
  position: relative;
  top: -1em;
  left: 3.5em;
  vertical-align: middle;
  width: 35px;
  margin-right: 0.5em;
}
.race-result-number{
  width: 1%;
}
.race-result-vehicle{
  width: 18%;
}
.race-result-avg{
  width: 10%;
}
.race-result-finishstatus{
  width: 5%;
}
.race-name{
  display:block;
  font-size:  xx-small;
  font-family: Electrolize;
}
.race-flag{
  height: 2em;
}
.race-result-race-points{
  width: 4%;
  position: relative;
  height: 100%;
  top: -0.0em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.race-result-points{
  width: 4%;
}
.race-result-sum{
  color: #00aeef;
}
.race-meta-entry{
  display: block;
  margin-bottom: 0.5em;
}
.race-meta-entry i{
  padding-right: 1em;
}
.race-meta{
  margin-bottom: 1em;
}
.car-vendor{
  vertical-align: middle;
  padding-right: 0.4em;
  filter: invert(100%);
  height: 20px;
}