.season-race{
  display: table;
}
.season-race *{
  display: table-cell;
}
.season-race-flag{
  width: 4em;
}
.season a{
  margin-left: 0.2em;
}
//experimental
.seasons{
  position: absolute;
  z-index: 1000000;
  height: auto;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.08em;
}
.season{
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
  cursor: pointer
}
.selected-season{
  background-color: $hightlight-color;
}
.season-is-running{
  color: red;
  animation: dot-blink 5s linear infinite;
}
@keyframes dot-blink {
  50% {
    opacity: 0;
  }
}
.map-flag{
  width: 24px;
  height: 12px;
  padding-right: 0.1em;
}
.map-popup{
  border-radius: 0px;
  background: $navigation-button-backgroundcolor;
  color: $navigation-button-color;
}
.race-date{
  font-style: italic;
  font-size: smaller;
  display: block;
  margin-bottom: 0.5em;
}
.race-link{
  margin-top: 1em;
}
.leaflet-popup{
  width: 220px;
}
.leaflet-popup-content-wrapper{
  background: $navigation-button-backgroundcolor !important;
  color: $navigation-button-color !important;
}
.leaflet-popup-tip{
  background: $navigation-button-color !important;
}
.leaflet-control-container > .leaflet-left{
  display:none;
}
.season-calendar{
  margin-left: 0.2em;
}
.map-marker{
  background: url(/static/frontend/images/marker-icon.png)
}