.social-links{
  position: fixed;
  top: 1em;
  left: 1em;
}
.social-links a{
  margin-right: 1em;
}
.social-links a i{
  font-size: 15pt;
}
.fa-rss{
  color:orange;
}
.fa-twitter, .fa-twitter-square{
  color: #1da1f2;
}
.fa-facebook-f, .fa-facebook-square{
  color:#3b5998;
}
.fa-flipboard{
  color: #c00
}
.fa-get-pocket{
  color: #ef4056
}
.fa-reddit-square{
  color: #ff4500
}
.fa-pinterest{
  color: #bd081c
}
.fa-youtube{
  color: #ff0000;
}
.share-links{
  display: inline;
  margin-left: 0.5em;
  border-left: 1px solid white;
  vertical-align: middle;
  padding-left: 0.5em;
}
.share-links a i {
  margin-right: 0.5em;
  font-size: 15pt;
}