.social-links{
  position:absolute;
  top: 2em;
  left: 1em;
}
.social-links a{
  margin-right: 1em;
}
.social-links a i{
  font-size: 15pt;
}
.fa-rss{
  color:orange;
}
.fa-twitter{
  color: #1da1f2;
}
.fa-facebook-f{
  color:#3b5998;
}