
.articles{
  min-width: 60%;
}
.articles h1{
  margin-top: 0em;
}
.article{
  position: relative; 
  display: inline-flex;
}
.article h2.article-title{
  position: absolute;
  bottom: -2pt;
  left: 0;
  width: 187px;
  font-size: 10pt;
  overflow-wrap: break-word;
  padding-left: 0.5em;
  color: white;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  letter-spacing: 0.5px;
}
.article h2 span { 
  color: white; 
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
  font-size: 9pt;
}
.article:not(:first-child) .article-image  {
  max-height: 150px;
  max-width: 200px;
  min-height: 150px;
  margin-bottom: 0.5em;
  margin-right: 10px;
  width: 620px;
}
.article:first-of-type .article-image  {
  max-height: 600px;
  width: 620px;
  min-height: 200px;
  margin-bottom: 0.5em;
  margin-right: 10px;
}
.timeline-container{
  float: left;
  width: 28.3%;
  margin-right: 1em;
}