
.articles{
  min-width: 60%;
}
.articles h1{
  margin-top: 0em;
}
.article{
  position: relative; 
  display: inline-flex;
}
.article h2.article-title{
  position: absolute;
  bottom: 0pt;
  left: 0;
  width: 187px;
  font-size: 10pt;
  overflow-wrap: break-word;
  padding-left: 0.5em;
  color: white;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  letter-spacing: 0.5px;
}
.article h2 span { 
  color: white; 
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
  font-size: 9pt;
}
.article:not(:first-child) .article-image,.no-featured .article-image  {
  width: 200px;
  height: 150px;
  margin-bottom: 0.5em;
  margin-right: 10px;
  object-fit: cover;
}
.article:first-of-type:not(.no-featured) .article-image  {
  width: 620px;
  height: 242px;
  margin-bottom: 0.5em;
  margin-right: 10px;
  object-fit: cover;
}
.pagination{
  margin-bottom: 1em;
  text-align: center;
}
.news-article-content{
  width: 100%;
}
.timeline-container{
  float: left;
  width: 28.3%;
  margin-right: 1em;
}