@import 'variables.scss';
@import 'fonts.scss';

body{
  font: 100% $font-stack;
  background-color: #000;
  color: $color;
  margin-left: 20%;
  margin-top: 1em;
  width: 60%;
}
.background-image{
  background-image: url(/media/uploads/league/bg.jpg) !important;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  filter: grayscale(100%) opacity(70%);
  height: 100%;
  width:100%;
}

a{
  text-decoration: none;
  color: white;
}

.body-content{
  margin-top: 2em;
}
h1{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #00aeef;
}
@import 'navbar.scss';
@import 'seasons.scss'; // seasons-page
@import 'results.scss'; // results-page
@import 'race.scss'; // race result-page
@import 'sociallinks.scss'; 
@import 'mobile.scss'; 
@import 'startpage.scss'; 
@import 'timeline.scss'; 
@import 'legal.scss';