{% extends baseLayout %}
{% load static %}
{% block content %}
  <h1>About {{ name }}</h1>
  <p>Season: {{ seasonCount  }}</p>
  <p>Races: {{ raceCount }}</p>
  <p>Teams: {{ teamCount }}</p>
  <p>Drivers: {{ driverCount }}</p>
  <h1>About SimPaddock</h1>
  <p>
    {{ name }} uses SimPaddock, a MPL-2.0 licensed Open Source league manager.
  </p>
  <p>
    SimPaddock allows you to manage your league without the need to set up a CMS to get a website for the league.
  </p>
  <h2>Key features</h2>
  <p>
    <ul>
      <li>
        Automatic calculation of league standings
      </li>
      <li>
        Integrated news feature
      </li>
      <li>
        Driver and team sign up
      </li>
    </ul>
  </p>
  <p>
    You can find SimPaddock on Github: <a href="https://github.com/simpaddock">https://github.com/simpaddock</a>
  </p>

{% endblock %}