{% extends baseLayout %}
{% load static %}
{% block content %}
  <h1>About {{ name }}</h1>
  <p>
    {{ name }} was established in {{ established }}.
  </p>

  <p>Season {{ seasonCount  }}</p>
  <p>Races: {{ raceCount }}</p>
  <p>Teams: {{ teamCount }}</p>
  <p>Drivers: {{ driverCount }}</p>
  <p>DNF's happened (all seasons): {{ dnfCount }}</p>
  <p>DSQ's given (all seasons): {{ dsqCount }}</p>
  <h1>About SimPaddock</h1>
  <p>
    {{ name }} uses SimPaddock, a MPL-2.0 licensed Open Source league manager.
  </p>
  <p>
    SimPaddock allows you to manage your league without the need to set up a CMS to get a website for the league.
  </p>
  <h2>Key features</h2>
  <p>
    <ul>
      <li>
        Automatic calculation of league standings
      </li>
      <li>
        Integrated news feature
      </li>
      <li>
        Driver and team sign up
      </li>
    </ul>
  </p>
  <p>
    You can find SimPaddock on Github: <a href="https://github.com/simpaddock">https://github.com/simpaddock</a>
  </p>
  <h2>Contents</h2>
  <p>
    As SimPaddock does not contain any assets, any assets (logos, texts, names) are user published.
  </p>
  <h2>Privacy</h2>
  <p>
    SimPaddock uses two Cookies for technical purposes:
    <ul>
      <li>csrftoken - A cookie to help preventing Cross-Site-Request-Forgery</li>
      <li>sessionid - A cookie to help us to cache requests and improve performance</li>
    </ul>
    SimPaddock has no embedded tracking features.
  </p>

{% endblock %}