{% extends baseLayout %}
{% load static %}
{% block content %}
  {% if running is not None and events.count != 0%}
  <div class="inline-widget timeline-widget">
    <h1>{{ running.name }}</h1>
    <ul class="timeline">
      {%for event in events %}
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <a href="/races/{{event.id}}/" class="flag">{{ event.name }}</a>
          </div>
          <img class="event-flag" title="{{race.name}}" src="/static/frontend/{{ event.track.country.flag }}">
          <div class="desc">{{ event.startDate }}</div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="inline-widget news-widget">
      <h1>Latest news</h1>
      {% if newsflashArticle is not None%}
        {% if newsflashArticle.mediaFile %}
          {% if isVideo %}
          <video src="{% static mediaFile %}" autoplay="autoplay" muted="muted" loop="loop" class="video-teaser"></video>
          {% else %}
          <img src="{% static mediaFile %}" class="video-teaser">
          {% endif %}
        {% endif %}
      {% endif %}
      {%for article in newsArticles %}
        <a href="/news/{{article.id}}/"><h2>{{ article.title }}</h2></a>
        <p>
          {{newsflashArticle.date }}
        </p>
        <p class="news-text">
          {{ article.text |slice:"0:100" | striptags  }}...
        </p>
      {% endfor %}
    </div>
  <div>

  </div>
{% endblock %}