{% extends baseLayout %}
{% load static %}
{% block content %}
  <div>
  {% if newsflashArticle is not None %}
    {% if newsflashArticle.mediaFile %}
      {% if isVideo %}
      <video src="{% static mediaFile %}" autoplay="autoplay" muted="muted" loop="loop" class="video-teaser"></video>
      {% else %}
      <img src="{% static mediaFile %}" class="video-teaser">
      {% endif %}
    {% endif %}
      <div class="news-flash">
        <div class="news-flash-content">
          <b>{{ newsflashArticle.title }}</b>
          <p>The summercup has started
            {{ newsflashArticle.text | safe }}
          <a href="/news/{{newsflashArticle.id}}">read more</a>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}