{% load static %}
{% spaceless %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{ config.name }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'frontend/style.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/fa.css' %}">
  <link rel="icon" type="image/png" href="{{config.logo }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{config.logo }}" sizes="96x96">
  <link rel="apple-touch-icon" sizes="180x180" href="{{config.logo }}">
  <meta name="msapplication-TileColor" content="#00aeef">
  <meta name="msapplication-TileImage" content="{{config.logo }}">
  {% block ogp %}
    <meta property="og:title" content="{{ config.name }}" />
    <meta property="og:url" content="{{config.url }}" />
    <meta property="og:image" content="{{config.logo }}" />
  {% endblock %}
</head>

<body>
  <div class="background-image"></div>
  <div id="eu-cookies" class="eu-cookies">
    {{ config.name }} uses cookies to improve the user expierience. You can receive additional informations using the <a href="/privacy">privacy</a>-page. <a href="#" onclick="DismissCookieWarning()">Dismiss this hint.</a>
  </div>
  <div class="legal-links">
    <a href="/privacy">Privacy</a>
    <a href="/imprint">Imprint</a>
  </div>
  <div class="social-links">
    {% for class, button in config.socialButtons.items %}
     <a target="_blank" href="{{button}}"><i class="{{class}}"></i></a>
    {% endfor %}
  </div>
  <script>
    // EU Cookie foo
    function DismissCookieWarning(){
      var d = new Date;
	    d.setTime(d.getTime() + 24*60*60*1000*30);
	    document.cookie = "cookielawdismissed" + "=" + true + ";path=/;expires=" + d.toGMTString();
      ApplyCookieWarning()
    }
    function IsCookieWarningDismissed() {
	    var v = document.cookie.match('(^|;) ?cookielawdismissed=([^;]*)(;|$)');
	    return v ? v[2] === "true" : false;
	  }
    function ApplyCookieWarning(){
      if (IsCookieWarningDismissed()){
        document.getElementById("eu-cookies").remove()
      }
    }
    ApplyCookieWarning()
  </script>
  <div class="navigation">
    <a href="/">
      <img src="{{ config.logo }}"  class="logo">
    </a>
    {% for route_key, route_value in routes.items %}
    
      {% if "http" in route_key %}
        <a href="{{ route_key }}" class="navigation-button">
          {{ route_value }}
        </a>
      {% else %}
      <a href="/{{ route_key }}/" class="navigation-button">
        {{ route_value }}
      </a>
      {% endif %}
    {% endfor %}
    <a href="/signup" class="navigation-button navigation-button-highlight">
      Sign up
    </a>
    
    {% if running.nextRace %}
    <div class="running-comp">
      NEXT
      <span class="comp-name">{{ running.name }}</span>
      <a class="next-race" href="/races/{{running.nextRace.id}}">{{ running.nextRace.startDate }}: {{ running.nextRace.name }}</a>
    </div>
    {% endif %}
  </div>
  <div class="body-content">
    {% block content %} {% endblock %}
  </div>
</body>

</html>

{% endspaceless %}