{% extends baseLayout %} {% load static %} {% if isInSingleMode %}
{% block pagetitle %}: {{ title }}{% endblock %}
{% block ogp %}
<meta property="og:title" content="{{ config.name }}: {{ articles.0.title }}" />
<meta property="og:url" content="{{config.url }}/news/{{articles.0.id}}/" /> {% if articles.0.mediaFile %}
<meta property="og:image" content="{{articles.0.mediaFile.url}}" /> {% else %}
<meta property="og:image" content="{{config.logo }}" /> {% endif %} {% endblock %} {% endif %} {{ article.title }} {% block content %}
{% if not isInSingleMode %}
<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ articles.previous_page_number }}"> previous</a>
        {% endif %}
        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
        </span>
        {% if articles.has_next %}
        <a href="?page={{ articles.next_page_number }}">next</a>
        <a href="?page={{ articles.paginator.num_pages }}"> last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
<div class="news-article-content">
    {% for article in articles %}
    {% if isInSingleMode %}
    <a href="/news/{{article.id}}/">
        <h1>{{ article.title }}</h1>
    </a>
    {{ article.text | safe}} 
    <b>{{ article.date|date:config.articleFormat }}</b> 
    <div class="share-links">
        {% for button in shareButtons %}
            <a href="{{ button.url }}" title="share on {{ button.name }}">
                <i class="{{ button.icon }}"></i>
            </a>
        {% endfor %}
    </div>
    {% else %}    
    <a href="/news/{{article.id}}/">
        <h2>{{ article.title }} <small>{{ article.date|date:config.articleFormat }}</small> </h2>
        {{ article.text | striptags | slice:":200"}} 
    </a>
    {% endif %} 
    {% endfor %}
</div>
{% endblock %}

