{% extends baseLayout %}
{% load frontend_extras %}

{% block ogp %}
<meta property="og:title" content="{{ race.season.name }}: {{ race.name }}" />
<meta property="og:url" content="{{config.url }}/races/{{race.id}}/" />
<meta property="og:image" content="{{config.url }}/racebanner/{{race.id}}/" />
{% endblock %}
{% block content %}
{% spaceless %}
  <h1>{{ title }} </h1>
  <div class="race-meta">
    <span class="race-meta-entry">
        <i class="fas fa-trophy"></i>{{ race.season }}
    </span>
    <span class="race-meta-entry">
        <i class="fas fa-calendar-alt"></i>{{ race.startDate }}-{{ race.startDate }}
    </span>
    {% if config.livetiming  %}
    <span class="race-meta-entry">
        <i class="fas fa-stopwatch"></i><a href="{{ config.livetiming }}">Livetiming</a>
    </span>
    {% endif %}
    {% if streamLink  %}
    <span class="race-meta-entry">
        <i class="fab fa-youtube"></i><a href="{{ streamLink }}">{{ streamLink }}</a>
    </span>
    {% endif %}
    {% if commentatorInfo  %}
    <span class="race-meta-entry">
        <i class="fas fa-headset"></i> 
        <span>
        {{ commentatorInfo }}
        </span>
    </span>
    {% endif %}
    {% if incidentsCount > 0  %}
        <span class="race-meta-entry">
            <i class="fas fa-gavel"></i><a target="_blank" href="/incidents/{{ race.id }}">Incidents</a>
        </span>
    {% endif %}
  </div>
  {% if resultList|length == 0  %}
    No results yet!
  {% endif %}
  {% for result in resultList %}
  <div class="race-result-row">
      <div class="result-absolute-align">
        <div class="medal medal-{{ result.position }} medal-{{result.finishstatus|lower}}">
            
            {% if result.position != "999" and result.finishstatus == "Finished Normally" %}
            <span class="position">{{ result.position }}</span>
            {% else %}
            <span class="position">{{result.finishstatus|upper}}</span>

            {% endif %}
        </div> 
      </div>
      <div class="race-result-driver inline">
       <div class="race-result-driver-names" title="{{result.firstName}} {{result.lastName}}">
          <span>{{result.firstName}}</span>
          <span>{{result.lastName}}</span>
       </div>
       <div class="race-result-driver-team">
          <span title="{{result.team}}">{{result.team}}</span>
          <span>#{{result.number | safe }}</span>
        </div>
      </div>

      <div class="race-result-points inline medium centered">
          <span>{{result.points}} P</span>
      </div>
      <div class="race-result-vehicle medium inline centered">
          {% if result.vehicleImage %}
            <img class="car-vendor" src="{{result.vehicleImage.url }}">
          {% endif %}
          <span>{{result.vehicle}}</span>
      </div>
      
      <div class="race-result-laps inline small centered">
          <span>{{result.laps}} L</span>
      </div>
      
      <div class="race-result-time medium inline centered">
          <span>{{result.time | time}}</span>
      </div>

      <div class="race-result-stops inline small centered">
          <span>{{result.stops}} S</span>
      </div>

      <div class="race-result-avg inline centered">
          <span>{{result.avg}} km/h</span>
      </div>
  </div>

  {% endfor %}
{% endspaceless %}
{% endblock %}