{% extends baseLayout %}
{% load frontend_extras %}
{% block content %}
  <h1>{{ title }} </h1>
  {% spaceless %}
  {% if result|length  == 0 %}
    No results yet!
  {% endif %}
  {% for result in resultList %}
  <div class="race-result-row">
      
      <div class="result-absolute-align">
        <div class="medal medal-{{ result.position }}">
            
            {% if result.position != "999" %}
            <span class="position">{{ result.position }}</span>
            {% endif %}
        </div> 
      </div>
      <div class="race-result-driver inline">
       <div class="race-result-driver-names" title="{{result.firstName}} {{result.lastName}}">
          <span>{{result.firstName}}</span>
          <span>{{result.lastName}}</span>
       </div>
       <div class="race-result-driver-team">
          {% if result.logo  %}
            <img class="race-result-team-logo" src="/static/frontend/{{ result.logo.url }}">
          {% endif %}
          <span title="{{result.team}}">{{result.team}}</span>
          <span>#{{result.number | safe }}</span>
        </div>
      </div>

      <div class="race-result-vehicle medium inline centered">
          <span>{{result.vehicle}}</span>
      </div>
      
      <div class="race-result-laps inline small centered">
          <span>{{result.laps}} L</span>
      </div>
      
      <div class="race-result-time medium inline centered">
          <span>{{result.time | time}}</span>
      </div>

      <div class="race-result-stops inline small centered">
          <span>{{result.stops}} S</span>
      </div>

      <div class="race-result-avg inline centered">
          <span>{{result.avg}} km/h</span>
      </div>

      <div class="race-result-finishstatus inline medium centered">
          <span>{{result.finishstatus}}</span>
      </div>
  </div>

  {% endfor %}
  {% endspaceless %}
{% endblock %}