{% extends baseLayout %}
{% load frontend_extras %}
{% block ogp %}
{% if isDriverStandings %}
<meta property="og:title" content="{{ season.name }}: Driver standings" />
<meta property="og:url" content="{{config.url }}/seasons/{{season.id}}/drivers/" />
<meta property="og:image" content="{{config.logo }}" />
{% else %}
<meta property="og:title" content="{{ season.name }}: Team standings" />
<meta property="og:url" content="{{config.url }}/seasons/{{season.id}}/teams/" />
<meta property="og:image" content="{{config.logo }}/" />
{% endif %}
{% endblock %}
{% block content %}
  <h1>{{ title }} </h1>
  {% if season.round == 0 %}
    The tournament has not started yet.
    {% for block in textBlocks %}
    <p>
      {{ block.text | safe}}
    </p>
  {% endfor %}
  {% endif %}
  {% spaceless %}
  {% for key, result in resultList %}
  
  <div class="race-result-row medal-{{ key | add:1 }}">
    <div class="race-result-row-background">
      <div class="result-absolute-align">
        <div class="medal medal-{{ key | add:1 }}">
            <span class="position">{{ key | add:1 }}</span>
        </div> 
      </div>
      <div class="race-result-driver inline">
       <div class="race-result-driver-names">
         {% if isDriverStandings %}
          <span>{{result.firstName}}</span>
          <span>{{result.lastName}}</span>
         {% endif %}
         
         {% if not isDriverStandings %}
          <span>{{result.team}}</span>
         {% endif %}
       </div>
       <div class="race-result-driver-team">
          {% if isDriverStandings %}
            <span>{{result.team}}</span>
          {% endif %}
          {% if not isDriverStandings %}
            {% if result.vehicleImage %}
              <img class="car-vendor" src="/media/{{result.vehicleImage}}">
            {% endif %}
            <span>{{result.vehicle}}</span>
          {% endif %}
        </div>
      </div>
      
      {% if isDriverStandings %}
      <div class="race-result-driver-number centered">
        {{result.number | safe }}
      </div>
     {% endif %}
     
     <div class="race-result-points race-result-sum inline small centered">
        <span>{{result.sum}}</span>
      </div>
      {% for race in races %}
        <div class="race-result-race-points inline medium centered">
          <a href="/races/{{race.id}}/">
            <span class="race-name">
              <img class="race-flag" title="{{race.name}}" src="/media/{{ race.track.country.flag }}">
            </span>
            <span>
              
              {% with points=result.points|index:forloop.counter0 %}
                {% with racePoints=points %}
                  {% if isDriverStandings and racePoints == 0 %}
                    {% with state=result.finishstates|index:forloop.counter0 %}
                      {% if state == 'Finished Normally'%}
                        {{ racePoints }}
                      {% else %}
                        {{ state }}
                      {% endif %}
                    {% endwith %}
                  {% else %}
                    {% if racePoints is not None %}
                      {{racePoints}}
                    {% else %}
                      -
                    {% endif %}
                  {% endif %}
                {% endwith %}
               
              {% endwith %}
            </span>
          </a>
        </div>
      {% endfor %}
      
      

  </div>
</div>
  {% endfor %}
  {% endspaceless %}
{% endblock %}