{% extends baseLayout %}
{% load frontend_extras %}
{% block content %}
  <h1>{{ title }} </h1>
  {% spaceless %}
  {% for key, result in resultList %}
  
  <div class="race-result-row">
      <div class="result-absolute-align">
        <div class="medal medal-{{ key | add:1 }}">
            <span class="position">{{ key | add:1 }}</span>
        </div> 
      </div>
      <div class="race-result-driver inline">
       <div class="race-result-driver-names">
         {% if isDriverStandings %}
          <span>{{result.firstName}}</span>
          <span>{{result.lastName}}</span>
         {% endif %}
         
         {% if not isDriverStandings %}
          <span>{{result.team}}</span>
         {% endif %}
       </div>
       <div class="race-result-driver-team">
          {% if isDriverStandings %}
            <span>{{result.team}}</span>
            <span>#{{result.number | safe }} </span>
          {% endif %}
          {% if not isDriverStandings %}
            {% if result.vehicleImage %}
              <img class="car-vendor" src="/static/frontend/{{result.vehicleImage}}">
            {% endif %}
            <span>{{result.vehicle}}</span>
          {% endif %}
        </div>
      </div>
      {% for race in races %}
        <div class="race-result-race-points inline medium centered">
          <a href="/races/{{race.id}}/">
            <span class="race-name">
              <img class="race-flag" title="{{race.name}}" src="/static/frontend/{{ race.track.country.flag }}">
            </span>
            <span>
              {% with points=result.points|index:forloop.counter0 %}
                {% with racePoints=points %}
                  {% if racePoints == 0 and result.finishstatus != 'Finished Normally'%}
                    {% with state=result.finishstates|index:forloop.counter0 %}
                    {% if state == 'Finished Normally'%}
                      {{ racePoints }}
                    {% else %}
                      {{ state }}
                    {% endif %}
                    {% endwith %}
                  {% else %}
                    {{racePoints}}
                  {% endif %}
                {% endwith %}
               
              {% endwith %}
            </span>
          </a>
        </div>
      {% endfor %}
      
      
      <div class="race-result-points race-result-sum inline small centered">
        <span>{{result.sum}}</span>
      </div>

  </div>

  {% endfor %}
  {% endspaceless %}
{% endblock %}