$font-stack:    Electrolize, sans-serif;
$primary-color: #404747;
$color: #D5D8DB;

$navigation-button-backgroundcolor: #323737;
$navigation-button-color: #999B9D;
$highlight-button: #00AEEF;

$hightlight-color: #00AEEF;

$footer-backgroundcolor: #323737;
$footer-border: #999B9D;

$season-background: #323737;
$season-border: #999B9D;

$result-background: #232323;
$result-color: white;