{% extends "admin/base.html" %}
{% load static i18n %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">
        <img class="vendor-logo" src = "{% static 'admin/logo.png' %}">
{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block userlinks %}
{% if site_url %}
    <a class="white-link" href="{{ site_url }}">{% trans 'View your league' %}</a> /
{% endif %}
<a class="white-link" href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}