@charset "UTF-8";
body {
  font-family: Electrolize, sans-serif;
  background-color: #000;
  color: white; }

.top-margin {
  margin-top: 1em; }

h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #00aeef; }

.pagination {
  text-align: center; }

.fa-rss {
  color: orange; }

.fa-twitter, .fa-twitter-square {
  color: #1da1f2; }

.fa-facebook-f, .fa-facebook-square {
  color: #3b5998; }

.fa-flipboard {
  color: #c00; }

.fa-get-pocket {
  color: #ef4056; }

.fa-reddit-square {
  color: #ff4500; }

.fa-pinterest {
  color: #bd081c; }

.fa-youtube {
  color: #ff0000; }

.share-links {
  display: inline;
  margin-left: 0.5em;
  border-left: 1px solid white;
  vertical-align: middle;
  padding-left: 0.5em; }

.share-links a i {
  margin-right: 0.5em;
  font-size: 15pt; }

.news-article-content {
  width: 84%; }

.news-article-body {
  line-height: 2; }

.background-image {
  background-image: url(/media/uploads/league/bg.jpg) !important;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  filter: grayscale(100%) opacity(70%);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

label {
  width: 20%;
  display: inline-block; }

.remarks {
  margin-bottom: 1em; }

.centered {
  text-align: center; }

a {
  color: white !important; }

.tab, .panel {
  border: none;
  margin-top: 0.5em; }

/* electrolize-regular - latin */
@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/electrolize-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Electrolize"), local("Electrolize-Regular"), url("fonts/electrolize-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/electrolize-v6-latin-regular.woff2") format("woff2"), url("fonts/electrolize-v6-latin-regular.woff") format("woff"), url("fonts/electrolize-v6-latin-regular.ttf") format("truetype"), url("fonts/electrolize-v6-latin-regular.svg#Electrolize") format("svg");
  /* Legacy iOS */ }

/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/oswald-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Oswald Regular"), local("Oswald-Regular"), url("fonts/oswald-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-v16-latin-regular.woff2") format("woff2"), url("fonts/oswald-v16-latin-regular.woff") format("woff"), url("fonts/oswald-v16-latin-regular.ttf") format("truetype"), url("fonts/oswald-v16-latin-regular.svg#Oswald") format("svg");
  /* Legacy iOS */ }

/* oswald-500 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/oswald-v16-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Oswald Medium"), local("Oswald-Medium"), url("fonts/oswald-v16-latin-500.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-v16-latin-500.woff2") format("woff2"), url("fonts/oswald-v16-latin-500.woff") format("woff"), url("fonts/oswald-v16-latin-500.ttf") format("truetype"), url("fonts/oswald-v16-latin-500.svg#Oswald") format("svg");
  /* Legacy iOS */ }

/* oswald-600 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/oswald-v16-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Oswald SemiBold"), local("Oswald-SemiBold"), url("fonts/oswald-v16-latin-600.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-v16-latin-600.woff2") format("woff2"), url("fonts/oswald-v16-latin-600.woff") format("woff"), url("fonts/oswald-v16-latin-600.ttf") format("truetype"), url("fonts/oswald-v16-latin-600.svg#Oswald") format("svg");
  /* Legacy iOS */ }

/* oswald-700 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/oswald-v16-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Oswald Bold"), local("Oswald-Bold"), url("fonts/oswald-v16-latin-700.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-v16-latin-700.woff2") format("woff2"), url("fonts/oswald-v16-latin-700.woff") format("woff"), url("fonts/oswald-v16-latin-700.ttf") format("truetype"), url("fonts/oswald-v16-latin-700.svg#Oswald") format("svg");
  /* Legacy iOS */ }

.social-links, .legal-links {
  position: fixed;
  top: 1em; }

.legal-links {
  right: 1em; }

.social-links a i, .legal-links a {
  color: white;
  margin-right: 1em; }

.social-links a i {
  font-size: 15pt; }

.navigation-logo {
  width: 100px;
  float: left;
  margin-right: 1.9em;
  filter: brightness(100%) drop-shadow(0px 0px 5px white); }

.mobile-logo {
  width: 5em; }

.navigation-button {
  background: #323737;
  background-color: #323737;
  background-color: #323737;
  display: inline-block;
  padding: 1em;
  color: #999B9D !important;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: -4px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1em;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00aeef; }

.navigation-button:hover {
  background-color: #4d4f50;
  text-decoration: none; }

.navigation-button-highlight {
  background-color: #00AEEF;
  color: white !important;
  font-weight: bold; }

.running-cup {
  margin-left: 1em; }

.running-cup .cup-name {
  display: block; }

.server {
  font-size: small; }

.server-timezone {
  display: block; }

.event-flag {
  height: 2em;
  z-index: 9999;
  position: absolute;
  top: 0px;
  left: -3.3em;
  top: -0.5em; }

/* ================ The Timeline ================ */
.timeline {
  position: relative;
  line-height: 1.0; }

.timeline:before {
  position: absolute;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #505050;
  background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  z-index: 5; }

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.direction-r {
  position: relative;
  width: 100%;
  float: right;
  left: 2em;
  top: -1em; }

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center; }

.flag {
  position: relative;
  display: inline;
  font-weight: 600;
  text-align: left; }

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15); }

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em; }

/* ================ Timeline Media Queries ================ */
@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0; }
  .timeline li {
    padding: 2em 0; }
  .direction-r {
    float: none;
    width: 100%;
    text-align: center; }
  .flag-wrapper {
    text-align: center; }
  .flag {
    background: white;
    z-index: 15; }
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14; }
  .direction-r .time-wrapper {
    float: none; }
  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: whitesmoke;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15; }
  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15; } }

@media screen and (min-width: 400px) and (max-width: 660px) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em; } }

.article {
  position: relative;
  margin-bottom: 1em; }

.article-image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 200px; }

.article-title:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.article-title {
  display: block;
  position: absolute;
  width: 100%;
  color: #fff;
  left: 0;
  bottom: 0;
  padding: 1em;
  font-weight: 700;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.7); }

.article-date {
  background: #323737;
  width: 6.5em;
  text-align: center;
  margin-right: 1em;
  border-radius: 0px;
  border-top: 1px solid #00aeef;
  border-left: 1px solid #00aeef; }

.article-fulltext {
  word-wrap: break-word;
  margin-top: 1em; }

.article-full-image {
  width: 100%;
  margin-top: 1.5em; }

.season {
  display: inline; }

.season-header {
  display: inline;
  cursor: pointer; }

.season-header-container:after {
  content: " • ";
  font-size: 20pt; }

.season-header-container:last-of-type:after {
  content: ''; }

.season-infos {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.medal-1 {
  border-color: gold transparent transparent transparent !important;
  color: black; }

.medal-2 {
  border-color: silver transparent transparent transparent !important;
  color: black; }

.medal-3 {
  border-color: #CD7F32 transparent transparent transparent !important;
  color: white; }

.medal-dns {
  border-color: #5F8F0E transparent transparent transparent !important; }

.medal-dnf {
  border-color: #870e0e transparent transparent transparent !important; }

.medal-dsq {
  border-color: black transparent transparent transparent !important; }

.leaflet-popup {
  width: 220px; }

.leaflet-popup-content-wrapper {
  background: #323737 !important;
  color: white !important;
  border-radius: 0px !important;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00aeef; }

.leaflet-popup-tip {
  background: #323737 !important; }

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  background: black !important; }

.medal {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4em 4em 0 0;
  border-color: #00AEEF transparent transparent transparent; }

.position {
  position: relative;
  top: -2.7em;
  left: 0.5em;
  font-size: 13pt; }

.result-row {
  color: white;
  height: 4em;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #00aeef;
  margin-bottom: 1.5em; }

.half-top-margin {
  margin-top: 0.5em; }

.full-top-margin {
  margin-top: 1.2em; }

.driver-number {
  display: inline-block;
  margin-right: 10px;
  background: white;
  color: black;
  padding: 0.2em;
  border: 1px solid #00aeef;
  width: auto;
  height: 27px;
  text-align: center;
  font-size: 10pt;
  font-family: oswald;
  font-weight: bolder;
  letter-spacing: 1px;
  top: -10px !important; }

.driver-name {
  margin-left: 0.2em;
  text-transform: uppercase;
  font-weight: bold; }

.race-name {
  display: block; }

.race-flag {
  height: 1.4em; }

.race-result-race-points {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase; }

.race-result-container {
  margin-top: 0.8em;
  text-align: center; }

.entry-meta-container {
  margin-left: 1em; }

.car-vendor {
  vertical-align: middle;
  padding-right: 0.4em;
  filter: invert(100%);
  height: 20px; }

.team-name {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.08em; }

.race-meta-entry {
  display: block;
  margin-bottom: 0.5em; }

.race-meta-entry i {
  padding-right: 1em; }

.eu-cookies {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #ff6c00;
  color: white;
  z-index: 99999;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.eu-cookies-dismiss {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase; }

.legal-links {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 99999; }

.legal-links a:not(:last-child) {
  padding-right: 0.5em; }
