{% extends baseLayout %} {% load static %}  {% load thumbnail  %} {% block pagetitle %}: {{ title }}{% endblock %} {% block ogp %}
<meta property="og:title" content="{{ config.name }}: {{ articles.0.title }}" />
<meta property="og:url" content="{{config.url }}/news/{{articles.0.id}}/" /> {% if articles.0.mediaFile %}
<meta property="og:image" content="{{articles.0.mediaFile.url}}" /> {% else %}
<meta property="og:image" content="{{config.logo }}" /> {% endif %} {% endblock %} {{ article.title }} {% block content %}

<div class="{% if not isInSingleMode %}news-article-content {% endif %} ">
  {% for article in articles %}
  <a href="/news/{{article.id}}/">
    <h1>{{ article.title }}</h1>
  </a>
  <div class="article-meta">
    <span>{{ article.date|date:config.articleFormat }}</span>
    <div class="share-links">
      {% for button in shareButtons %}
      <a href="{{ button.url }}" title="share on {{ button.name }}">
        <i class="{{ button.icon }}"></i>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="news-article-body columns">
    
    {% if article.mediaFile %}
      <div class="column col-4 hide-xs">
          {% thumbnail article.mediaFile "350x610"  as im %}
            <img class="article-full-image" src="{{ im.url }}">
          {% endthumbnail %}
      </div>
    {% endif %}
    <div class="column col-8 article-fulltext col-xs-12">
      {{ article.text | safe}} {% endfor %}
    </div>
  </div>
</div>
{% endblock %}