{% extends baseLayout %} {% load static %} {% load thumbnail  %} {% block content %}
<div class="columns">
  <div class="column col-3 hide-md">
    {% if running is not None and events.count != 0%}
    <div class="timeline-container">
      <h1 class="current-cup-header">{{ running.name }}</h1>  
      {% if config.features.servertime %}
        <p class="server">
          <span class="server-time-text">Server time </span>
          <span class="server-time" id="server-time">{{ now }}</span>
          <span class="server-timezone">Timezone: {{ config.timezone }}</span>
        </p>
        {% endif %}
      <ul class="timeline">
        {%for event in events %}
        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <a href="/races/{{event.id}}/" class="flag">{{ event.name }}</a>
            </div>
            <img class="event-flag" title="{{race.name}}" src="/media/{{ event.track.country.flag }}">
            <div class="desc">{{ event.track.name }} | {{ event.startDate|date:config.nextRaceFormat }}</div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
  <div class="column col-6 col-xs-12">
    <div class="columns">
      {% for article in newsArticles %}
      <div class="column col-4 col-xs-12 article">
        {% if article.mediaFile %}
        {% thumbnail article.mediaFile "200x200" crop="top" as im %}
          <img class="article-image" src="{{im.url}}">
        {% endthumbnail %}
      
        <a href="/news/{{article.id}}" class="article-title">
          {{ article.title }}
        </a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}