{% extends baseLayout %} {% load static %} {% block content %}
<div class="row">
  <div class="articles-container">
    <div class="articles">
      {% for article in newsArticles %}
      <div class="article">
        <a href="/news/{{article.id}}">
          {% if article.mediaFile %}
          <img class="article-image" src="{{article.mediaFile.url}}">
          <h2 class="article-title">
            {{ article.title }}
          </h2>
          {% endif %}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}