{% extends baseLayout %} 
{% load static %}
{% block content %}
<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ articles.previous_page_number }}"> previous</a>
        {% endif %}
        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
        </span>
        {% if articles.has_next %}
        <a href="?page={{ articles.next_page_number }}">next</a>
        <a href="?page={{ articles.paginator.num_pages }}"> last &raquo;</a>
        {% endif %}
    </span>
</div>
<div class="column col-12">
    <div class="columns">
    {% for article in articles %}
    <div class="column col-4 col-xs-12 article">
      {% if article.mediaFile %}
      <img class="article-image" src="{{article.mediaFile.url}}">
      <a href="/news/{{article.id}}" class="article-title">
        {{ article.title }}
      </a>
      {% endif %}
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}