{% extends baseLayout %} 
{% load static %}
{% load thumbnail  %}
{% load frontend_extras %}
{% block ogp %}
<meta property="og:title" content="{{ config.name }}: News" />
<meta property="og:description" content="{{ config.name }}: News" />
<meta property="og:url" content="{{config.url }}/news/" /> 
{% endblock %}
{% block content %}
<div class="pagination">
    <div class="step-linksn column col-12">
        {% if articles.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ articles.previous_page_number }}"> previous</a>
        {% endif %}
        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
        </span>
        {% if articles.has_next %}
        <a href="?page={{ articles.next_page_number }}">next</a>
        <a href="?page={{ articles.paginator.num_pages }}"> last &raquo;</a>
        {% endif %}
    </div>
</div>

{% for article in articles %}
    <div>
        <a href="/news/{{article.id}}"><div class="chip article-date">{{article.date|dateFormat}}</div>{{ article.title }}</a>
    </div>
{% endfor %}
{% endblock %}