{% extends baseLayout %}
{% load frontend_extras %}

{% block ogp %}
<meta property="og:title" content="{{ race.season.name }}: {{ race.name }}" />
<meta property="og:url" content="{{config.url }}/races/{{race.id}}/" />
<meta property="og:image" content="{{config.url }}/racebanner/{{race.id}}/" />
{% endblock %}
{% block content %}
{% spaceless %}
  <h1>{{ title }} </h1>
  <div class="race-meta">
    <span class="race-meta-entry">
        <i class="fas fa-trophy"></i>{{ race.season }}
    </span>
    <span class="race-meta-entry">
        <i class="fas fa-calendar-alt"></i>{{ race.startDate }}-{{ race.endDate }}
    </span>
    {% if config.livetiming  %}
    <span class="race-meta-entry">
        <i class="fas fa-stopwatch"></i><a href="{{ config.livetiming }}">Livetiming</a>
    </span>
    {% endif %}
    {% if streamLink  %}
    <span class="race-meta-entry">
        <i class="fab fa-youtube"></i><a href="{{ streamLink }}">{{ streamLink }}</a>
    </span>
    {% endif %}
    {% if commentatorInfo  %}
    <span class="race-meta-entry">
        <i class="fas fa-headset"></i> 
        <span>
        {{ commentatorInfo }}
        </span>
    </span>
    {% endif %}
    {% if incidentsCount > 0  %}
        <span class="race-meta-entry">
            <i class="fas fa-gavel"></i><a target="_blank" href="/incidents/{{ race.id }}">Incidents</a>
        </span>
    {% endif %}
  </div>
  {% if resultList|length == 0 and embedData == False %}
    No results yet!
  {% endif %}
  {% if resultList|length == 0 and "www.youtube.com/watch?v=" in streamLink %}
    <embetty-video video-id="{{ streamLink | getYoutubeId}}" start-at="97" type="youtube"></embetty-video>
  {% endif %}
  {% for result in resultList %}
  <div class="columns col-12 result-row medal-{{ result.position}} medal-{{result.finishstatus|lower}}">
    <div class="medal medal-{{ result.position }} medal-{{result.finishstatus|lower}}">
        <span class="position">
            {% if result.position != "999" and result.finishstatus == "Finished Normally" %}
                {{ result.position }}
            {% endif %}
        </span>
    </div>    
    <div class="column col-2 col-xs-10">
        <div class="columns half-top-margin">
            <a href="/driver/{{result.id}}">
                <div class="col-12">
                    <span>{{result.firstName}}</span>
                    <span class="driver-name">{{result.lastName}}</span>
                </div>
            </a>
            <div class="col-12">
                <span>{{result.team}}</span>
            </div>
        </div>
    </div>
    <div class="column col-2 full-top-margin columns  entry-meta-container hide-xs">
        <div class="column col-6">
            <div class="driver-number">{{result.number | safe }} </div>
        </div>
        <div class="column col-6">
            {{result.points}} P
        </div>
    </div>
    <div class="column col-7 columns hide-xs">
        <div class="column col-3 full-top-margin columns  entry-meta-container hide-xs centered">
            {% if result.vehicleImage %}
                <img class="car-vendor" src="{{result.vehicleImage.url }}">
            {% endif %}
            <span>{{result.vehicle}}</span>
        </div>
        <div class="column col-1 full-top-margin columns  entry-meta-container hide-xs centered">
            {{result.laps}} L
        </div>
        <div class="column col-2 full-top-margin columns  entry-meta-container hide-xs centered">
            {{result.time | time}}
        </div>
        <div class="column col-1 full-top-margin columns  entry-meta-container hide-xs centered">
            {{result.stops}} S
        </div>
        <div class="column col-2 full-top-margin columns  entry-meta-container hide-xs centered">
            <span>{{result.avg}} km/h</span>
        </div>
        {% if result.finishstatus != "Finished Normally" %}
            <div class="column col-2 full-top-margin columns  entry-meta-container hide-xs centered">
                <span>{{result.finishstatus|upper}}</span>
            </div>
        {% endif %}
    </div>
   
  </div>
  {% endfor %}
{% endspaceless %}
{% endblock %}