{% extends baseLayout %} {% load static %} {% block content %}
<script>
  var seasons = JSON.parse('{{ seasonsJSON |safe }}')
</script>
<div class="columns vue-seasons ">
  <div class="column col-12">
    <div>
      Choose a championship
    </div>
    <span class="season-header-container" v-for="(season, season_key ) in seasons" :key="season_key" v-on:click.prevent="updateMap(season.id)">
      <h1 class="season-header" v-if="season.id === selectedSeason">[[ season.name ]] </h1>
      <h3 class="season-header" v-else>[[ season.name ]] </h3>
    </span>
    <div class="season-infos" v-if="currentSeason !== null">
      <span v-if="currentSeason.isRunning">Running </span>
      <span v-if="!currentSeason.isRunning">Finished </span> / 
      <a :href="'/seasons/'+currentSeason.id+'/drivers/'">[[ currentSeason.drivers.length ]] drivers</a> /
      <a :href="'/seasons/'+currentSeason.id+'/teams/'">[[ currentSeason.teams.length ]] teams</a> /
      <a class="hide-xs" target="_blank" :href="'/calendar/'+currentSeason.id+'/'"
        title="Calendar">
        <i class="fas fa-calendar season-calendar"></i> Calendar
      </a>
    </div>
  </div>
  <div class="column col-12">
    <div id="map" style="height: 500px;width: 100%"></div>
  </div>
</div>
<link rel="stylesheet" href="{% static 'frontend/leaflet.css' %}" />
<script src="{% static 'frontend/leaflet.js' %}"></script>
<script src="{% static 'frontend/vue.js' %}"></script>
<script src="{% static 'frontend/moment.min.js' %}"></script>
<script>
  var seasonOverViewVueInstance = new Vue({
    el: '.vue-seasons',
    delimiters: ['[[', ']]'],
    data: function () {
      return {
        'seasons': window.seasons,
        'mapInstance': null,
        'selectedSeason': null
      }
    },
    mounted: function () {
      if (this.seasons.length > 0) {
        this.updateMap(this.seasons[0].id)
      }
    },
    computed: {
      currentSeason: function () {
        if (this.selectedSeason === null) {
          return null
        }
        for (var i in seasons) {
          var season = seasons[i]
          if (season.id === this.selectedSeason) {
            return season
          }
        }
      },
    },
    methods: {
      updateMap: function (seasonid) {
        this.selectedSeason = seasonid
        if (this.mapInstance !== null) {
          this.mapInstance.off();
          this.mapInstance.remove();
        }
        this.mapInstance = new L.Map('map');
        // create the tile layer with correct attribution
        var osmUrl = '/static/frontend/maps/{z}/{x}/{y}{r}.png';
        var osmAttrib = '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>';
        var osm = new L.TileLayer(osmUrl, { minZoom: 2, maxZoom: 2, attribution: osmAttrib });

        // start the map in South-East England
        this.mapInstance.setView(new L.LatLng(40.737, -73.923), 9); // center view
        this.mapInstance.addLayer(osm);
        for (var i in seasons) {
          var season = seasons[i]
          if (season.id === seasonid) {
            var races = {}
            for (var x = 0; x < season.races.length; x++) {
              var race = season.races[x]
              if (typeof races[race.track.name] !== 'undefined') {
                races[race.track.name].push(race)
              } else {
                races[race.track.name] = [race]
              }
            }
            for (var x in races) {
              var racesOnTrack = races[x]
              popup2 = new L.Popup({
                "className": 'map-popup'
              });
              popup2.setLatLng(new L.LatLng(racesOnTrack[0].track.long, racesOnTrack[0].track.lat));
              var content = ""
              var flag = racesOnTrack[0].track.country.flag
              var marker = L.marker(new L.LatLng(racesOnTrack[0].track.long, racesOnTrack[0].track.lat)).bindPopup(popup2)
              marker.addTo(this.mapInstance)
              var popupText = ""
              for (var i in racesOnTrack) {
                var trackRace = racesOnTrack[i]
                var date = moment(trackRace.startDate).format("L");
                popupText += "<a class='race-link' href='/races/" + trackRace.id + "/'>" + date + ": " + trackRace.name + "</a><br>"
              }
              popup2.setContent("<div class='race-detail'>" + popupText + "</div>");
              this.mapInstance.addLayer(popup2);
              this.mapInstance.closePopup(popup2)
            }
          }
        }
      }
    }
  })
</script> {% endblock %}