{% extends baseLayout %}
{% spaceless %}
{% block content %}
<h1>signup</h1>

{% if config.staticSignup %}

{% for block in textBlocks %}
<b>{{ block.title }} </b>
<p>
  {{ block.text | safe}}
</p>
{% endfor %}
{% else %}
{% if token is None %}
<div class="remarks">
  <ol>
    <li>
      A submitted car number cannot be changed
    </li>
    <li>
      You will receive a token which identifies your submission.
    </li>
    <li>
      Use the token as a password to update your submission. You don't need a token for an initial submission
    </li>
    <li>
      Driver Names and Vehicles will be updated automatically at standings update
    </li>
    <li>
      We may contact you via mail if there are problems with your submission.
    </li>
    <li>
      You can check your submissions state on the <a href="/signupstatus">signup status page</a>
    </li>
  </ol>
</div>

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <b>GDPR remark</b>
  <p>
    Because the names of any driver will be displayed public on our website and/ or in streams,<br>
    you have to give the consent for any drivers you are submitting a skin for.
  </p>
  <p>
    Feel free to <a href="/imprint/">contact u</a>s if you have any questions or if you request a data deletion.
  </p>
  <input type="submit" value="Submit">
</form>


{% else %}
<p>
  Thank you for your submission.
</p>
<p>
  Your token is {{ token }}. Keep that.
</p>
<p>
  You can check your submissions state on the <a href="/signupstatus">signup status page</a>.
</p>
{% endif %}
{% endif %}

{% endblock %}
{% endspaceless %}
